*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/app/build
/hmsagents/build
/imageframelibs/build
/IMKit/build
/IMLib/build
/pulltonextlayout/build
local.properties
build/
.idea/
.gradle/
tatus
*.apk
gradle/
*.DS_Store
release/
gradle.properties